// Fonts
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap";
@import "variables";
@import "./partials/course-content";

@import "~bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "~nprogress/nprogress.css";

body {
  font-size: .9em !important;
  color: #303030;
  font-family: "Poppins", sans-serif;
}

a {
  transition: .4s;

  &:hover {
    text-decoration: none;
  }
}

.customized-list {
  list-style-image: url("~@img/vectors/check-circle-colored.svg");
}
.customized-list-white {
  list-style-image: url("~@img/vectors/check-circle-white.svg");
}

.navbar {

  & .nav-item {
    padding: 5px 10px !important;

  }

}

.testimonials {
  background: url("~@img/testimonial-bg.png") no-repeat center;
  background-size: cover;

  .hover-gradient-2 {
    background: linear-gradient(180deg, rgba(77, 77, 77, 0.8), rgba(40, 140, 100, 0.81));
  }

}


.astuce {
  background: #e55817;
  color: #ffffff;
}

.home-register-form {
  background: #ffffff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.register-form-mini {

  > .form-group, .user-type {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

}

.promo-banner {
  background: linear-gradient(90deg, #ffc81e, #ff6528);
}

footer {

  .home-register-form {
    margin-top: -100px;
  }

}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.top-80 {
  top: 80px !important;
  z-index: 1 !important;
}
