<template>
    <div class="subtitle py-3">
        <h5>

            <span :class="`ml-${2 + level} mr-3 text-accent`">
                {{ type === 'a' ? lettersLow[index - 1] : type === 'A' ? lettersCap[index - 1] : index}}.
            </span>

            <span>
                {{ content }}
            </span>

        </h5>
    </div>
</template>

<script>
    export default {
        name: "course-subtitle",
        props: {
            content: {default: 'Definition'},
            level: {default: 2},
            index: {default: 1},
            type: {default: 'a'}
        },
        data () {
            return {
                numbers: '123456789',
                lettersCap: 'abcdefghijklmnopqrstuvwxyz'.toUpperCase().split(''),
                lettersLow: 'abcdefghijklmnopqrstuvwxyz'.split('')
            }
        }
    }
</script>
