<template>
    <h4 class="pt-5 text-danger">
        <span class="px-3 mr-3 border-right border-danger">{{ index }}.</span>
        <slot>Generalite sur les nombres decimaux</slot>
    </h4>
</template>

<script>
    export default {
        name: "title-grand",
        props: {
            index: {default: '1'}
        }
    }
</script>

<style scoped>

</style>