<template>

    <div>

        <div class="container py-5">

            <div class="row">

                <div class="col-md-6">
                    <h5 class="text-secondary">
                        <strong>
                            Forfaits
                        </strong>
                    </h5>
                    <h2>
                        <strong>
                            Découvrez nos modalités d'accès exclusif sur les ressources
                        </strong>
                    </h2>
                </div>

                <div class="col-md-6">
                    <img src="@img/vectors/writing-long.svg" alt="" class="w-100">
                </div>

            </div>

            <div class="row pt-5 pb-3">
                <div class="container-fluid">
                    <div class="row">
                        <pricing-item module="Mensuel" period="1 mois"></pricing-item>
                        <pricing-item module="Trimestriel" period="1 trimestre"></pricing-item>
                        <pricing-item module="Semestriel" period="1 semestre"></pricing-item>
                        <pricing-item module="Annuel" period="1 an" type="warning"></pricing-item>
                    </div>
                </div>
            </div>

            <div class="row py-3">
                <div class="col-12">
                    <p class="text-muted text-center">
                        Paiements sécurisés
                    </p>
                    <div class="w-100">
                        <div class="row payment-methods">

                            <div class="col-12 d-flex justify-content-center">

                                <img src="@img/payments/master.png"
                                     alt="Payment">
                                <img src="@img/payments/visa.png"
                                     alt="Payment">
                                <img src="@img/payments/paypal.png"
                                     alt="Payment">
                                <img src="@img/payments/om.png"
                                     alt="Payment">
                                <img src="@img/payments/momo.png"
                                     alt="Payment">

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <promo-banner/>

        <footer-content/>
    </div>

</template>

<script>

    import pricingItem from "../partials/pricing-item.vue"
    import PromoBanner from "../partials/promo-banner.vue";
    import FooterContent from "../partials/footer.vue";

    export default {
        name: "dicover",
        components: {
            FooterContent,
            PromoBanner,
            pricingItem
        }
    }
</script>

<style scoped>

</style>
