<template>

    <div>

        <div class="container-fluid exam-sub-top">
            <div class="row py-4 text-white">

                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6">

                            <div class="row align-items-center">

                                <div class="col-md-12">
                                    <div class="row align-items-center">

                                        <div class="col-md-2">
                                            <hr class="bg-danger">
                                        </div>

                                        <div class="col-md-3 text-danger border border-danger py-2 text-center">
                                            <h3>
                                                <strong>
                                                    JJ-45
                                                </strong>
                                            </h3>
                                        </div>

                                        <div class="col-md-7">
                                            <h3>
                                                <strong>
                                                    Portail de revision du <span class="text-primary">Bac C</span>
                                                    Camerounais
                                                </strong>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="row py-2">
                                        <div class="col-12 text-white-50">
                                            Le Baccaraleaurat ou Bac est le diplôme qui marque la fin des études
                                            secondaires. En 2020-2021, le nouveau Bac entre pleinement en vigueur. Pour
                                            la voie générale comme la voie technologique, le contrôle continu compte
                                            pour 40% de la note finale et les épreuves finales pour 60%. L'épreuve de
                                            rattrapage est ouverte aux candidats ayant obtenu une note entre 8 et 10.
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="col-md-4">
                            <ul class="customized-list-white">

                                <li>Fiches de revision</li>
                                <li>Exercices et notions importantes</li>
                                <li>Corrections</li>
                                <li>Chat avec des profs</li>
                                <li>Fiches de revision</li>
                                <li>Exercices et notions importantes</li>
                                <li>Corrections</li>
                                <li>Chat avec des profs</li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container-fluid bg-warning" style="height: 10px;"></div>

        <div class="container py-4 pb-5 mb-5">

            <div class="row">

                <div class="col-md-3 position-relative">

                    <div class="row sticky-top sub-programm-left">
                        <inline-course-item :active="index === 1" v-for="(i,index) in matieres" :key="index" :name="i" />
                    </div>

                </div>

                <div class="col">
                    <div class="list-group">


                        <div class="list-group list-group-item my-1 shadow border-0 main-chap-list py-4" v-for="(chapitre, index) in chapitres">
                            <h4 class="d-flex justify-content-between py-3">
                                <strong>
                                    Chap. {{ index + 1 }} - {{ chapitre.name }}
                                </strong>

                                <b-icon-caret-down-fill></b-icon-caret-down-fill>
                            </h4>

                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between text-primary" v-for="(lecon) in chapitre.lecons">
                                    <router-link :to="{name: 'chapter', params: {cours: 'math', classe: 'cp', chapitre: 3}}">
                                        {{ lecon }}
                                    </router-link>

                                    <b-icon-caret-right-fill></b-icon-caret-right-fill>

                                </li>

                            </ul>

                        </div>


                    </div>
                </div>

            </div>

        </div>

        <promo-banner/>

        <footer-content/>

    </div>

</template>

<script>
    import InlineCourseItem from "../partials/inline-course-item.vue";
    import FooterContent from "../partials/footer.vue";
    import {__scroll} from "../../utils";
    import PromoBanner from "../partials/promo-banner.vue";

    export default {
        name: "sub-program",
        components: {PromoBanner, FooterContent, InlineCourseItem},
        data() {
            return {
                objectifs: [
                    'Nombres et calculs',
                    'Grandeurs et mesures',
                ],
                prerequis: this.objectifs,
                matieres: [
                    'Anglais',
                    'Francais',
                    'Mathematiques',
                    'Culture generale',
                    'Sport',
                ],

                chapitres: [
                    {
                        number: 1,
                        name: ' Nombres et calculs',
                        lecons: [
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                        ]
                    },
                    {
                        number: 2,
                        name: ' Grandeus et mesures',
                        lecons: [
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                        ]
                    },
                    {
                        number: 3,
                        name: ' Nombres et calculs',
                        lecons: [
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                            'Nombres entiers et decimaux',
                        ]
                    },
                ]
            }
        },
        mounted() {
            __scroll()
        },

    }
</script>

<style lang="scss">
    .main-chap-list{
        border-radius: 15px !important;
    }
    .sub-programm-left{
        top: 80px;
        z-index: auto !important;
    }
    .exam-sub-top{
        background: url("~@img/bac-sub-program-bg.png") no-repeat center;
        -webkit-background-size: cover;
        background-size: cover;

        & > div {
            background: #000000aa;
        }
    }
</style>
