<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="home.vue">

    <div class="container-fluid">
      <div class="row">

        <div class="container-fluid home-top">
          <div class="row">

            <div class="container">
              <div class="row align-items-center justify-content-center py-5">

                <!-- Left side -->
                <div class="col-md-6 position-relative">

                  <div class="w-100 p-5">

                    <div class="row">
                      <div class="col-12">
                        <h2><strong>Un service complet pour la réussite scolaire du CP au BAC</strong></h2>
                        <p class="text-muted pb-5">
                          Accompagnement pédagogique pour le collège et le lycée. Cours en ligne de toutes les
                          matières
                          de la 6e à Terminale avec des vidéos, des fichiers, des exercices interactifs...
                        </p>

                        <div class="row align-items-center">

                          <div class="col-md-6 py-2">
                            <b-button v-b-modal.login-modal variant="primary" class="rounded-lg py-3 shadow-sm w-100">
                              J'ai un compte
                            </b-button>
                          </div>

                          <div class="col-md-6 py-2">
                            <router-link :to="{name: 'register'}" class="btn py-3 rounded-lg shadow-sm w-100">
                              Je veux découvrir
                            </router-link>
                          </div>

                        </div>

                      </div>
                    </div>

                  </div>

                </div>

                <!-- Right side -->
                <div class="col-md-6">
                  <yt-embed></yt-embed>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <trusted/>
          </div>
        </div>

      </div>
    </div>


    <div class="container-fluid home-second-section my-5">


      <div class="row">

        <div class="col-12">

          <div class="row position-relative">

            <div class="col-md-4 px-0">
              <img src="@img/fille.png" alt="Petite fille" class="w-100">
            </div>

            <div class="col-md-8">

              <div class="row py-3 align-items-end">
                <div class="col-6 p-0">
                  <h3 class="text-white">
                    <strong>
                      Pourquoi nos utilisateurs nous <span class="text-warning">aiment</span> ?
                    </strong>
                  </h3>
                </div>

                <div class="col-4 p-0">
                  <img src="@img/vectors/writing-short.svg" alt="" class="w-100">
                </div>

                <div class="col-2">
                  <hr style="height: 2px" class="rounded-pill bg-light p-0 m-0">
                </div>

              </div>

              <div class="row py-2 text-white">

                <div class="container">
                  <div class="row justify-content-around">

                    <why-item title="Un outil conçu par des experts"
                              content="Ingenierus pédagogiques, enseignants, professionnels de l'éducation et de la production vidéo"></why-item>

                    <why-item title="Un outil conçu par des experts"
                              content="Ingenierus pédagogiques, enseignants, professionnels de l'éducation et de la production vidéo"></why-item>

                    <why-item title="Un outil conçu par des experts"
                              content="Ingenierus pédagogiques, enseignants, professionnels de l'éducation et de la production vidéo"></why-item>

                  </div>

                  <div class="row justify-content-around">

                    <why-item title="Un outil conçu par des experts"
                              content="Ingenierus pédagogiques, enseignants, professionnels de l'éducation et de la production vidéo"></why-item>

                    <why-item title="Un outil conçu par des experts"
                              content="Ingenierus pédagogiques, enseignants, professionnels de l'éducation et de la production vidéo"></why-item>

                    <why-item title="Un outil conçu par des experts"
                              content="Ingenierus pédagogiques, enseignants, professionnels de l'éducation et de la production vidéo"></why-item>

                  </div>

                </div>

              </div>

            </div>

          </div>


        </div>

      </div>

    </div>

    <hr style="height: 5px" class="bg-warning border-0">

    <div class="container-fluid py-5">

      <div class="row">

        <div class="container">

          <div class="row">

            <div class="col-5">

              <h3>
                <strong>
                  <span class="text-primary">Simple</span>, <span class="text-primary">easy</span>
                  academic tools
                </strong>
              </h3>

              <span>
                                les cours rendus faciles par l'assimilation et la pratique methodique
                            </span>

            </div>

            <div class="col-7">
              <img src="@img/vectors/writing-long.svg" alt="" class="w-100">
            </div>

          </div>

          <div class="row">

            <div class="col-12">
              <div class="row">
                  <description-item index="0" :title="descriptions[0].title" :liste="descriptions[0].liste">
                      <template v-slot:image>
                          <img src="@img/description/students-globe.png" alt="Image" class="w-75">
                      </template>
                  </description-item>

                  <description-item index="1" :title="descriptions[1].title" :liste="descriptions[1].liste">
                      <template v-slot:image>
                          <img src="@img/description/student-learning.png" alt="Image" class="w-75">
                      </template>
                  </description-item>

                  <description-item index="0" :title="descriptions[2].title" :liste="descriptions[2].liste">
                      <template v-slot:image>
                          <img src="@img/description/tasklist.png" alt="Image" class="w-75">
                      </template>
                  </description-item>

                  <description-item index="1" :title="descriptions[3].title" :liste="descriptions[3].liste">
                      <template v-slot:image>
                          <img src="@img/description/students-pencil.png" alt="Image" class="w-75">
                      </template>
                  </description-item>

              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="container-fluid testimonials">
      <div class="row hover-gradient-2 py-5 text-white">
        <div class="container">

          <strong>Témoignages</strong>
          <h1 class="m-0 p-0 col-md-7"><strong>Ces parents et enseignants ont cru en nous</strong></h1>

          <div class="row py-5">

            <testimonial-item muted="false">
                <template v-slot:image >
                    <img src="@img/users/user-1.png" alt="User" class="w-100 rounded-circle">
                </template>
            </testimonial-item>

            <testimonial-item muted="false">
                <template v-slot:image >
                    <img src="@img/users/user-2.png" alt="User" class="w-100 rounded-circle">
                </template>
            </testimonial-item>

            <testimonial-item muted="false">
                <template v-slot:image >
                    <img src="@img/users/user-3.png" alt="User" class="w-100 rounded-circle">
                </template>
            </testimonial-item>

            <testimonial-item muted="false">
                <template v-slot:image >
                    <img src="@img/users/user-4.png" alt="User" class="w-100 rounded-circle">
                </template>
            </testimonial-item>

            <testimonial-item muted="false">
                <template v-slot:image >
                    <img src="@img/users/user-5.png" alt="User" class="w-100 rounded-circle">
                </template>
            </testimonial-item>

            <testimonial-item muted="false">
                <template v-slot:image >
                    <img src="@img/users/user-6.png" alt="User" class="w-100 rounded-circle">
                </template>
            </testimonial-item>

          </div>

        </div>
      </div>
    </div>

    <div class="container-fluid py-5">

      <div class="row">

        <div class="col-md-6">
          <h5 class="text-secondary">
            <strong>
              Forfaits
            </strong>
          </h5>
          <h2>
            <strong>
              Découvrez nos modalités d'accès exclusif sur les ressources
            </strong>
          </h2>
        </div>

        <div class="col-md-6">
          <img src="@img/vectors/writing-long.svg" alt="" class="w-100">
        </div>

      </div>

      <div class="row pt-5 pb-3">
        <div class="container-fluid">
          <div class="row">
            <pricing-item module="Mensuel" period="1 mois"></pricing-item>
            <pricing-item module="Trimestriel" period="1 trimestre"></pricing-item>
            <pricing-item module="Semestriel" period="1 semestre"></pricing-item>
            <pricing-item module="Annuel" period="1 an" type="warning"></pricing-item>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <p class="text-muted">
            Paiements sécurisés
          </p>
          <div class="w-100">
            <div class="row payment-methods">

              <div class="col-12 d-flex flex-wrap">

                <img
                  src="@img/payments/master.png"
                  alt="Payment">
                <img src="@img/payments/visa.png"
                     alt="Payment">
                <img    src="@img/payments/paypal.png"
                        alt="Payment">
                <img src="@img/payments/om.png"
                     alt="Payment">
                <img src="@img/payments/momo.png"
                     alt="Payment">

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <promo-banner/>

    <footer-content/>

  </div>
</template>

<script>
  import homeComp from "../../components"
  import {__scroll} from "../../utils"

  export default {
    name: "homeVue",
    props: {
      msg: {type: String, default: "Message !"}
    },

    data() {
      return {
        descriptions: [
          {
            title: "Vidéos et fiches de cours",
            image: "@img/description/students-globe.png",
            liste: [
              'Des professeurs qualifiés',
              'Un contenu vérifié',
              'Des fiches de resumés de cours',
              'Des système de suivi de l\'évolution au cours de l\'année',
            ]
          },
          {
            title: "Tout le programme scolaire pour réussir du CP à la Terminale",
              image: "@img/description/student-learning.png",
            liste: [
              `Programmes validés par les ministères de l'éducation de base et de l'enseignement secondaire du Cameroun`,
            ]
          },
          {
            title: "Des outils de suivi pour vous et vos enfants",
              image: "@img/description/tasklist.png",
            liste: [
              `Monitoring des points`,
              `Conseils et accompagnements`,
              `Historique des activités`,
              `Options de surveillsance`
            ]
          },
          {
            title: "Exercices et corrigés",
              image: "@img/description/students-pencil.png",
            liste: [
              `Exercice avec difficultés graduelles`,
              `Des exercices méthodique,ent conçus`,
              `Contenu des corrections détaillé et vérifié`
            ]
          },
        ]
      }
    },
    components: homeComp,
    mounted() {
      __scroll()
    }
  };
</script>
<style lang="scss">

  .home-second-section {
    background: radial-gradient(#00babf, #001a1f);
  }

  .payment-methods img {
    width: 80px;
    height: 60px;
    object-fit: scale-down;
    object-position: center;
    margin-right: 5px;
  }

  .trusted {

    & > img {
      width: 80px;
      height: 80px;
      object-fit: scale-down;
      object-position: center;
      filter: grayscale(100%);
      margin: 0 5px;
    }

  }

  .home-top{
    background: url("~@img/home-left-bg.png") no-repeat left;
    background-size: contain;
  }

</style>
