<template>
    <div>
        <div class="container-fluid bg-light">

            <div class="row justify-content-center align-items-center">

                <div class="col-md-4 my-5 py-5">

                    <div class="row">

                        <div class="col-md-12 text-dark home-register-form shadow-lg">

                            <div class="w-100 py-5">

                                <div class="px-4">
                                    <h4 class="text-primary"><strong>Inscription</strong></h4>
                                    <hr class="bg-primary" style="height: 2px;">

                                </div>

                                <div class="row px-4">

                                    <div class="col-12 my-2">
                                        <button class="btn btn-outline-danger w-100 py-2">
                                            <i class="fab fa-google-plus-g"></i>
                                            Continuer avec Google
                                        </button>
                                    </div>

                                    <div class="col-12 my-2">
                                        <button class="btn btn-outline-accent w-100 py-2">
                                            <i class="fab fa-facebook"></i>
                                            Continuer avec Facebook
                                        </button>
                                    </div>

                                </div>

                                <div class="row">

                                    <form action="#" class="col-12 py-4 register-form-mini">

                                        <div class="form-group">
                                            <div class="d-flex justify-content-between">
                                                <label for="email">Adresse email</label>
                                                <span style="font-size: .7em;" class="text-danger">entrez une adresse mail valide svp</span>
                                            </div>
                                            <input class="form-control is-invalid" type="email" id="email"
                                                   placeholder="sandra@exemple.com">
                                        </div>

                                        <div class="form-group">
                                            <div class="d-flex justify-content-between">
                                                <label for="password">Mot de passe</label>
                                                <span style="font-size: .7em;" class="text-danger d-none">entrez un mot de passe valide svp</span>
                                            </div>
                                            <input class="form-control" type="password" id="password"
                                                   placeholder="Au moins 10 caractères">
                                        </div>

                                        <div class="form-group">
                                            <div class="d-flex justify-content-between">
                                                <label for="name">Nom complet</label>
                                                <span style="font-size: .7em;"
                                                      class="text-danger d-none">entrez votre svp</span>
                                            </div>
                                            <input class="form-control" type="text" id="name" placeholder="Sandra NGAKO">
                                        </div>

                                        <div class="row py-3 user-type">
                                            <div class="col-md-3 col-12">
                                                Je suis un
                                            </div>
                                            <div class="col-md-9 col-12">
                                                <div class="row justify-content-between align-items-end">

                                                    <div class="col-md-3 col-4 d-flex flex-column align-items-center">
                                                        <label class="d-flex flex-column align-items-center" for="eleve">
                                                            <img src="@img/vectors/student.svg" alt="Type" class="w-100 rounded-lg">
                                                            Elève
                                                        </label>
                                                        <input type="radio" name="type" id="eleve" class="custom-radio" value="eleve">
                                                    </div>

                                                    <div class="col-md-3 col-4 d-flex flex-column align-items-center">
                                                        <label class="d-flex flex-column align-items-center" for="parent">
                                                            <img src="@img/vectors/parent.svg" alt="Type" class="w-100 rounded-lg">
                                                            Parent
                                                        </label>
                                                        <input type="radio" name="type" id="parent" class="custom-radio" value="eleve">
                                                    </div>

                                                    <div class="col-md-3 col-4 d-flex flex-column align-items-center">
                                                        <label class="d-flex flex-column align-items-center" for="teacher">
                                                            <img src="@img/vectors/teacher.svg" alt="Type" class="w-100 rounded-lg">
                                                            Enseignant
                                                        </label>
                                                        <input type="radio" name="type" id="teacher" class="custom-radio" value="eleve">
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                        <div class="row bg-light p-3 text-secondary">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, esse porro? Aut
                                            incidunt
                                            ipsam, molestiae molestias nesciunt perferendis.
                                        </div>

                                        <div class="row py-3">

                                            <div class="col-12 d-flex justify-content-center">

                                                <router-link :to="{name: 'register-1'}" class="btn btn-outline-primary px-5 py-2 rounded-pill">
                                                    S'inscrire
                                                </router-link>

                                            </div>

                                        </div>

                                    </form>

                                </div>


                                <div class="col-12 py-4 bg-white text-center">

                                    Vous avez déjà un compte ? <a v-b-modal.login-modal>Connectez-vous</a>.

                                </div>


                            </div>

                        </div>

                    </div>


                </div>

                <div class="col-md-4 bg-warning">
                    <div class="row">
                        <div class="col-12 p-0">

                            <img style="width: 100%;" src="@img/2020-07-27_01-04.png" alt="">

                        </div>
                    </div>

                    <div class="row py-5">
                        <div class="col-12">
                            <div class="text-white">
                                <strong>
                                    Vous avez plusieurs enfants ?
                                </strong>
                            </div>
                            <div>
                                <h1>
                                    <strong>Prenez l'option Famille.</strong>
                                </h1>
                                <p>
                                    Pour seulement 4,95&euro; par mois, jusqu'à 5 enfants peuvent profiter du service en
                                    ayant chacun un compte dédié, du niveau de son choix et pouvant acceder aux contenus
                                    pédagogiques des classes de niveau inférieur et supérieur.
                                </p>
                            </div>

                            <div>
                                <button class="btn btn-light">Clique ici &nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <footer-content/>
    </div>
</template>

<script>
    import {__scroll} from "../../utils";
    import FooterContent from "../partials/footer.vue";

    export default {
        name: "register",
        components: {FooterContent},
        mounted() {
            __scroll()
        },
        methods: {
            openLogin() {
                $("#loginForm").modal("show")
            }
        }
    }
</script>
