<template>
    <div>
        <div class="container-fluid bg-light">

            <div class="row justify-content-center align-items-center">

                <div class="col-md-4 my-5 py-5">

                    <div class="row">

                        <div class="col-md-12 text-dark home-register-form shadow-lg">

                            <div class="w-100 py-5">

                                <div class="px-4">
                                    <h4 class="text-primary"><strong>Inscription</strong></h4>
                                    <hr class="bg-primary" style="height: 2px;">

                                </div>

                                <div class="row">

                                    <form action="#" class="col-12 py-4 register-form-mini">

                                        <div class="form-group">
                                            <label for="nom">Nom</label>
                                            <input class="form-control" type="text" id="nom"
                                                   placeholder="Sandra">
                                        </div>

                                        <div class="form-group">
                                            <label for="prenom">Prenom</label>
                                            <input class="form-control" type="text" id="prenom"
                                                   placeholder="Sandra">
                                        </div>

                                        <div class="row">
                                            <div class="col-5">
                                                <div class="form-group">
                                                    <label for="sexe">Sexe</label>
                                                    <select id="sexe" class="form-control">
                                                        <option selected disabled>-- Choisir --</option>
                                                        <option value="M">Masculin</option>
                                                        <option value="F">Feminin</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-7">
                                                <div class="form-group text-center">
                                                    Etes-vous etudiant ?

                                                    <div class="row justify-content-center pt-3">

                                                        <div class="col-3">
                                                            <div class="custom-control custom-radio">
                                                                <input id="yes" type="radio" class="custom-control-input"
                                                                       name="student">
                                                                <label class="custom-control-label" for="yes">Oui</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-3">
                                                            <div class="custom-control custom-radio">
                                                                <input id="no" type="radio" class="custom-control-input"
                                                                       name="student">
                                                                <label class="custom-control-label" for="no">Non</label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>


                                        <div class="row py-3">

                                            <div class="col-6">
                                                <div class="form-group custom-control">
                                                    <label for="ville">Ville</label>
                                                    <select class="custom-select" id="ville">
                                                        <option value="dla">Douala</option>
                                                        <option value="dla">Douala</option>
                                                        <option value="dla">Douala</option>
                                                        <option value="dla">Douala</option>
                                                        <option value="dla">Douala</option>
                                                        <option value="dla">Douala</option>
                                                        <option value="dla">Douala</option>
                                                        <option value="dla">Douala</option>
                                                        <option value="dla">Douala</option>
                                                        <option value="dla">Douala</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group custom-control">
                                                    <label for="classe">Classe/Cycle</label>
                                                    <select class="custom-select" id="classe">
                                                        <option value="dla">BAC+1</option>
                                                        <option value="dla">BAC+2</option>
                                                        <option value="dla">BAC+3</option>
                                                        <option value="dla">BAC+4</option>
                                                        <option value="dla">BAC+5</option>
                                                    </select>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="form-group">
                                            <label for="ets">Etablissement</label>
                                            <input type="text" class="form-control" id="ets"
                                                   placeholder="Lycee bilingue de Mapanja">
                                        </div>

                                        <div class="d-flex align-items-center py-3">
                                            <div class="bg-light d-flex justify-content-center align-items-center"
                                                 style="width: 100px;height: 100px;border-radius: 50%;">
                                                <img src="@img/users/user.svg" alt="User" class="w-75">
                                            </div>
                                            <div class="px-3">
                                                Ajouter une photo de profile +
                                            </div>
                                        </div>

                                        <div class="row py-3">

                                            <div class="col-6 d-flex justify-content-center">
                                                <router-link :to="{name: 'register'}" class="btn btn-outline-secondary py-3 w-100">
                                                    <b-icon-chevron-left></b-icon-chevron-left>
                                                    &nbsp;
                                                    &nbsp;
                                                    Precedent
                                                </router-link>
                                            </div>

                                            <div class="col-6 d-flex justify-content-center">
                                                <button class="btn btn-outline-primary py-3 w-100">
                                                    S'inscrire
                                                    &nbsp;
                                                    &nbsp;
                                                    <b-icon-check2></b-icon-check2>
                                                </button>
                                            </div>

                                        </div>

                                    </form>

                                </div>


                                <div class="col-12 py-4 bg-white text-center">

                                    Vous avez déjà un compte ? <b-link v-b-modal.login-modal>Connectez-vous</b-link>.

                                </div>


                            </div>

                        </div>

                    </div>


                </div>

                <div class="col-md-4 bg-warning">
                    <div class="row">
                        <div class="col-12 p-0">

                            <img style="width: 100%;" src="@img/2020-07-27_01-04.png" alt="">

                        </div>
                    </div>

                    <div class="row py-5">
                        <div class="col-12">
                            <div class="text-white">
                                <strong>
                                    Vous avez plusieurs enfants ?
                                </strong>
                            </div>
                            <div>
                                <h1>
                                    <strong>Prenez l'option Famille.</strong>
                                </h1>
                                <p>
                                    Pour seulement 4,95&euro; par mois, jusqu'à 5 enfants peuvent profiter du service en
                                    ayant chacun un compte dédié, du niveau de son choix et pouvant acceder aux contenus
                                    pédagogiques des classes de niveau inférieur et supérieur.
                                </p>
                            </div>

                            <div>
                                <button class="btn btn-light">Clique ici &nbsp;&nbsp; <i class="fa fa-chevron-right"></i>
                                </button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
        <footer-content/>
    </div>
</template>

<script>
    import {__scroll} from "../../utils";
    import FooterContent from "../partials/footer.vue";

    export default {
        name: "register",
        components: {FooterContent},
        mounted() {
            __scroll()
        },
        methods: {
            openLogin() {
                $("#loginForm").modal("show")
            }
        }
    }
</script>
