<template>

    <div>
        <div class="bg-white" style="height: 5px;"></div>
        <footer class="container-fluid bg-dark text-light py-5">

            <div class="container">

                <div class="row">

                    <!-- footer Left -->
                    <div class="col-md-3">

                        <img src="@img/logo-white.png" alt="Logo" class="w-100">
                        <p class="text-muted text-justify">
                            Nos enseignants de l'education nationale répondent aux auestion 6j/7 de 17h à 20h pour le soutien de
                            votre enfant et sa compréhension des cours en maths, français, SVT, chimie, physique, technologie,
                            anglais, espagnol
                        </p>

                        <div class="row">

                            <div class="col">
                                <div><strong> <i class="fa fa-phone"></i> Phone</strong></div>
                                <div class="text-accent pl-2">+237 697090659 / 682536922</div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col">
                                <div><strong> <i class="fa fa-envelope-open"></i> Mail</strong></div>
                                <div class="text-accent pl-2">contact@upgradegroup.com</div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col d-flex flex-wrap footer-social">
                                <img src="@img/social/facebook.png" alt="Facebook">
                                <img src="@img/social/linkedin.png" alt="Linkedin">
                                <img src="@img/social/twitter.png" alt="Twitter">
                                <img src="@img/social/instagram.png" alt="Instagram">
                            </div>
                        </div>

                        <div class="row py-4">
                            <div class="col-12 text-center">
                                <strong style="font-size: .7em;">COPYRIGHT &copy; 2020 INTELLIGENTSIA LEARNING</strong>
                            </div>
                        </div>

                    </div>

                    <!-- Footer middle -->
                    <div class="col-md-5">

                        <div class="row">
                            <div style="font-size: .8rem;" class="col-12">
                                <h6><strong class="text-accent">Toutes nos classes</strong></h6>

                                <div class="row">
                                    <a href="" class="col nav-link">CP</a>
                                    <a href="" class="col nav-link">CE1</a>
                                    <a href="" class="col nav-link">CE2</a>
                                    <a href="" class="col nav-link">CM1</a>
                                    <a href="" class="col nav-link">CM2</a>
                                </div>

                                <div class="row">
                                    <a href="" class="col nav-link">6ème</a>
                                    <a href="" class="col nav-link">5ème</a>
                                    <a href="" class="col nav-link">4ème</a>
                                    <a href="" class="col nav-link">3ème</a>
                                    <a href="" class="col nav-link">2nde</a>
                                </div>

                                <div class="row">
                                    <a href="" class="col nav-link">1ère</a>
                                    <a href="" class="col nav-link">Tle S</a>
                                    <a href="" class="col nav-link">Tle ES</a>
                                    <a href="" class="col nav-link">Tle L</a>
                                    <a href="" class="col nav-link">Tle STGM</a>
                                </div>
                            </div>
                        </div>

                        <hr class="bg-light">

                        <div class="row">
                            <div style="font-size: .8rem;" class="col-12">
                                <h6><strong class="text-accent">Toutes matères</strong></h6>

                                <div class="row">
                                    <a href="" class="col nav-link">Mathematique</a>
                                    <a href="" class="col nav-link">Physique</a>
                                    <a href="" class="col nav-link">Espagnol</a>
                                </div>

                                <div class="row">
                                    <a href="" class="col nav-link">Français</a>
                                    <a href="" class="col nav-link">Chimie</a>
                                    <a href="" class="col nav-link">Sciences</a>
                                </div>

                                <div class="row">
                                    <a href="" class="col nav-link">Histoire</a>
                                    <a href="" class="col nav-link">SVT</a>
                                    <a href="" class="col nav-link">ESF</a>
                                </div>

                                <div class="row">
                                    <a href="" class="col nav-link">Geographie</a>
                                    <a href="" class="col nav-link">Philosophie</a>
                                    <a href="" class="col nav-link">...</a>
                                </div>

                                <div class="row">
                                    <a href="" class="col nav-link">ECM</a>
                                    <a href="" class="col nav-link">SES</a>
                                    <a href="" class="col nav-link">...</a>
                                </div>

                                <div class="row">
                                    <a href="" class="col nav-link">PCT</a>
                                    <a href="" class="col nav-link">Anglais</a>
                                    <a href="" class="col nav-link">...</a>
                                </div>


                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 text-dark home-register-form shadow">

                        <div class="w-100 pt-5">

                            <div class="px-4">
                                <h4 class="text-primary"><strong>Inscription</strong></h4>
                                <hr class="bg-primary" style="height: 2px;">

                            </div>

                            <div class="row px-4">

                                <div class="col-12">
                                    <button class="btn btn-danger w-100">
                                        <i class="fab fa-google-plus-g"></i>
                                        Continuer avec Google
                                    </button>
                                </div>

                                <div class="col-12 mt-2">
                                    <button class="btn btn-accent w-100">
                                        <i class="fab fa-facebook"></i>
                                        Continuer avec Facebook
                                    </button>
                                </div>

                            </div>

                            <div class="row">

                                <form action="#" class="col-12 py-4 register-form-mini">

                                    <div class="form-group">
                                        <div class="d-flex justify-content-between">
                                            <label for="email">Adresse email</label>
                                            <span style="font-size: .7em;" class="text-danger">entrez une adresse mail valide svp</span>
                                        </div>
                                        <input class="form-control is-invalid" type="email" id="email"
                                               placeholder="sandra@exemple.com">
                                    </div>

                                    <div class="form-group">
                                        <div class="d-flex justify-content-between">
                                            <label for="password">Mot de passe</label>
                                            <span style="font-size: .7em;" class="text-danger d-none">entrez un mot de passe valide svp</span>
                                        </div>
                                        <input class="form-control" type="password" id="password"
                                               placeholder="Au moins 10 caractères">
                                    </div>

                                    <div class="form-group">
                                        <div class="d-flex justify-content-between">
                                            <label for="name">Nom complet</label>
                                            <span style="font-size: .7em;" class="text-danger d-none">entrez votre svp</span>
                                        </div>
                                        <input class="form-control" type="text" id="name" placeholder="Sandra NGAKO">
                                    </div>

                                    <div class="row py-3 user-type">
                                        <div class="col">
                                            Je suis un
                                        </div>
                                        <div class="col">
                                            <div class="row justify-content-center">

                                                <div class="col-4 d-flex flex-column align-items-center">
                                                    <img src="@img/vectors/student.svg" alt="Type" class="w-100 rounded-lg">
                                                    <label for="eleve">Elève</label>
                                                    <input type="radio" name="type" id="eleve" class="custom-radio"
                                                           value="eleve">
                                                </div>

                                                <div class="col-4 d-flex flex-column align-items-center">
                                                    <img src="@img/vectors/parent.svg" alt="Type" class="w-100 rounded-lg">
                                                    <label for="parent">Parent</label>
                                                    <input type="radio" name="type" id="parent" class="custom-radio"
                                                           value="parent">
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row bg-light p-3 text-secondary">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, esse porro? Aut incidunt
                                        ipsam, molestiae molestias nesciunt perferendis.
                                    </div>

                                    <div class="row py-3">

                                        <div class="col-12 d-flex justify-content-center">

                                            <button class="btn btn-outline-primary px-5 py-2 rounded-pill">
                                                S'inscrire
                                            </button>

                                        </div>

                                    </div>

                                </form>

                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </footer>

        <b-navbar toggleable="md" type="dark" variant="dark" class="fixed-bottom d-none d-md-flex navbar-bottom">
            <b-navbar-nav class="mx-auto">
                <b-nav-item v-b-modal.onDev class="border-right" >Francais</b-nav-item>
                <b-nav-item v-b-modal.onDev>Conditions d'utilisation</b-nav-item>
                <b-nav-item v-b-modal.onDev>Ethique et engagements</b-nav-item>
                <b-nav-item v-b-modal.onDev>Aide</b-nav-item>
                <b-nav-item v-b-modal.onDev>Contacter le service client</b-nav-item>
            </b-navbar-nav>
        </b-navbar>

    </div>

</template>

<script>
    export default {
        name: "footer-content"
    }
</script>

<style lang="scss">
    .navbar-bottom{
        padding: 0;

        & .nav-item, & .nav-link{
            padding-top: 3px !important;
            padding-bottom: 3px !important;
        }
    }
    .footer-social{
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;

        & > img{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-position: center;
            object-fit: contain;
            background: #ffffff;
        }
    }
</style>
