<template>
    <div class="col-md-2 last-test-item">
        {{ title }} <br>
        <span class="year" style="font-size: 3em; padding: 0;margin: 0;">
            <b>{{ annee }}</b>
        </span>
    </div>
</template>

<script>
    export default {
        name: "last-test-item",
        props: {
            annee: {type: String, default: '2019'},
            title: {type: String, default: 'Bac C'}
        }
    }
</script>

<style lang="scss">

    .last-test-item{
        cursor: pointer;

        &:hover .year{
            color: var(--dark);
        }

        & .year{
            color: var(--secondary);
            transition: .3s;

        }

    }

</style>
