<template>
    <div class="container-fluid promo-banner">

        <div class="row">

            <div class="col-md-6 promo-image-box">

            </div>

            <div class="col-md-6">
                <div class="row py-5">
                    <div class="col-12">
                        <div class="text-white">
                            <strong>
                                Vous avez plusieurs enfants ?
                            </strong>
                        </div>
                        <div>
                            <h1>
                                <strong>Prenez l'option Famille.</strong>
                            </h1>
                            <p>
                                Pour seulement 4,95&euro; par mois, jusqu'à 5 enfants peuvent profiter du service en
                                ayant chacun un compte dédié, du niveau de son choix et pouvant acceder aux contenus
                                pédagogiques des classes de niveau inférieur et supérieur.
                            </p>
                        </div>

                        <div>
                            <button class="btn btn-light">Clique ici &nbsp;&nbsp; <i class="fa fa-chevron-right"></i></button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        name: "promo-banner"
    }
</script>

<style lang="scss">
    .promo-image-box{
        background: url("~@img/promo-banner-image.png") no-repeat top;
        background-size: cover;
    }
</style>
