<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">

  <div>

    <header class="container-fluid shadow-sm bg-white sticky-top">
      <b-navbar toggleable="lg" type="light">

        <router-link class="navbar-brand" :to="{name: 'home'}">
          <!-- Brand image -->
          <img src="@img/logo-black.png" style="width: 200px" alt="Logo">
        </router-link>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse is-nav id="nav-collapse">
          <b-navbar-nav class="mr-auto mt-2 mt-lg-0">

              <b-nav-item-dropdown text="Primaire">
                <b-dropdown-item :to="{name: 'programs', params: { classe: 'CP' }}">CP</b-dropdown-item>
                <b-dropdown-item v-b-modal.ondev>CE1</b-dropdown-item>
                <b-dropdown-item v-b-modal.ondev>CE2</b-dropdown-item>
              </b-nav-item-dropdown>


              <b-nav-item-dropdown text="Secondaire">
                <b-dropdown-item :to="{name: 'programs', params: { classe: 'CP' }}">Seconde</b-dropdown-item>
                <b-dropdown-item v-b-modal.ondev>Premiere</b-dropdown-item>
                <b-dropdown-item v-b-modal.ondev>Terminale</b-dropdown-item>
              </b-nav-item-dropdown>


              <b-nav-item-dropdown text="Examens">
                <b-dropdown-item :to="{name: 'exam', params: { exam: 'bac' }}">BAC</b-dropdown-item>
                <b-dropdown-item v-b-modal.ondev>Probatoire</b-dropdown-item>
                <b-dropdown-item v-b-modal.ondev>BEPC</b-dropdown-item>
              </b-nav-item-dropdown>



            <b-nav-item :to="{name: 'partnership'}" class="nav-item">Ecoles partenaires</b-nav-item>
            <b-nav-item v-b-modal.ondev href="#" class="nav-item">Contact</b-nav-item>
            <b-nav-item v-b-modal.ondev href="#" class="nav-item">FAQ</b-nav-item>


          </b-navbar-nav>


          <div class="ml-auto">
            <router-link :to="{name: 'register'}" role="button"
                         class="btn btn-outline-primary px-5 rounded-pill">
              S'abonner
            </router-link>

            <b-button v-b-modal.login-modal variant="primary" class="px-5 ml-2 rounded-pill position-relative">
              <img src="@img/vectors/flat.svg" alt="Flat" style="position: absolute;height: 30px;top: -5px;left: 10px;">
              Se Connecter
            </b-button>
          </div>
        </b-collapse>
      </b-navbar>


    </header>


    <div id="app">
      <router-view></router-view>
    </div>

    <b-modal centered id="ondev" okOnly>

      <template v-slot:modal-header >
        En cours de developpement
      </template>

      <template v-slot:default >
        Cette page n'est pas disponible pour le moment...
      </template>

    </b-modal>

    <b-modal centered id="login-modal">

      <template v-slot:modal-header="{ close }">
        <div class="w-100">
          <h4 class="text-primary mb-0 d-flex justify-content-between">
            <strong>Connexion</strong>
            <b-icon-x style="cursor: pointer;" @click="close()" class="ml-auto"></b-icon-x>
          </h4>
        </div>
      </template>

      <template v-slot:default>

        <div class="w-100">
          <div class="row px-4">

            <div class="col-md-6 my-2">
              <button class="btn btn-outline-danger w-100 py-2" style="font-size: .8em;">
                <i class="fab fa-google-plus-g"></i>
                Continuer avec Google
              </button>
            </div>

            <div class="col-md-6 my-2">
              <button class="btn btn-outline-primary w-100 py-2" style="font-size: .8em;">
                <i class="fab fa-facebook"></i>
                Continuer avec Facebook
              </button>
            </div>

          </div>

          <ValidationObserver ref="form" v-slot="{ passes }">
            <form action="#" @submit.prevent="passes(login)" class="col-12 py-2 register-form-mini">
              <ValidationProvider rules="required" name="login" v-slot="{ valid, errors }">
                <b-form-group label="Identifiant" label-for="exampleInput1">
                  <b-form-input type="text" v-model="username"
                                :state="errors[0] ? false : (valid ? true : null)"
                                placeholder="Adresse email ou Nom d'utilisateur">
                  </b-form-input>
                  <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>

              <ValidationProvider rules="required" name="password" v-slot="{ valid, errors }">
                <b-form-group label="Mot de passe" label-for="exampleInput1">
                  <b-form-input type="password" v-model="password"
                                :state="errors[0] ? false : (valid ? true : null)"
                                placeholder="">
                  </b-form-input>
                  <b-form-invalid-feedback>{{ errors[0] }}</b-form-invalid-feedback>
                </b-form-group>
              </ValidationProvider>

              <div class="row pt-3">
                <div class="col-12 d-flex justify-content-center">
                  <button class="btn btn-outline-primary px-5 py-2 rounded-pill">
                    Se connecter
                  </button>
                </div>
              </div>
            </form>
          </ValidationObserver>

        </div>

      </template>

      <template v-slot:modal-footer>
        <div class="text-center w-100">
          Vous ne possedez pas encore de compte ?
          <router-link :to="{name: 'register'}">Inscrivez-vous</router-link>
        </div>
      </template>

    </b-modal>

  </div>

</template>

<script>
  import axios from 'axios'

  export default {
    name: "App",
    data: () => ({username: '', password: ''}),
    methods: {
      login() {
        axios.post('/login', {login: this.username, password: this.password}, {baseURL: '/'})
          .then(() => {
            this.$store.dispatch('get_user').then((user) => {
              if (user.roles.indexOf('student') >= 0) window.location = '/student-app'
              if (user.roles.indexOf('parent') >= 0) window.location = '/parent-app'
              if (user.roles.indexOf('admin') >= 0) window.location = '/admin-app'
            })
          })
          .catch(error => {
            console.log(error, error.response);
            if (!error.response) return
            const data = error.response.data
            if (data.errors) {
              this.$refs.form.setErrors({
                'login': data.errors.email || data.errors.pseudo,
                'password': data.errors.password,
              })
            }
          })
      }
    }
  }
</script>
