<template>

    <div style="display: flex;justify-content: center;align-items: center;height: 100vh;" class="main">
        <h1>404 | Not found</h1>
    </div>

</template>

<script>
    export default {
        name: "Error404"
    }
</script>

